/**------------------------------------------------------------------------
 * *                           General
 *------------------------------------------------------------------------**/
body {
    font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Gluten', cursive;
}

a {
    text-decoration: none;
}

.primary-link {
    color: $body-color;

    &:hover {
        color: $primary !important;
    }
}

/*.grecaptcha-badge {
    display: none !important;
}*/

.trennung {
    hyphens: auto;
}

.geburtstagsliste, .telefonliste {
    .geburtstagslisteTable, .telefonlisteTable {
        border-radius: rem(10);
    }
}

.border-radius-10 {
    border-radius: rem(10);
}

.calendar {
    min-height: calc(100vh - 520px);
}

.apmh {
    background: $primary !important;
    color: $black !important;

    .bi-dash {
        color: $black !important;
    }
}

.apoh {
    background: $green !important;
    color: $black !important;

    .bi-dash {
        color: $black !important;
    }
}

.rw {
    background: $info !important;
    color: $black !important;

    .bi-dash {
        color: $black !important;
    }
}

.sp {
    background: $secondary !important;
}

.ver {
    background: $red !important;
    color: $black !important;

    .bi-dash {
        color: $black !important;
    }
}

.links-light {
    color: $white;

    &:hover {
        color: $primary;
    }
}

.links-light-cursor {
    cursor: pointer;
    color: $white;

    &:hover {
        color: $primary;
    }
}

.icon-badge-container {
    position: relative;

    .icon-badge-icon {
        position: relative;
    }

    .icon-badge {
        background-color: $info;
        font-size: rem(10);
        color: $body-bg;
        display: inline-flex;
        line-height: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: rem(18);
        height: rem(18);
        border-radius: 100%;
        position: absolute;
        top: rem(-5);
        left: rem(10);
        font-weight: bold;

        &.plus {
            width: rem(20);
            height: rem(20);
            left: rem(6);
        }
    }
}

.dropdown-menu-custom {
    padding: 0;
    top: rem(60);
    right: 0;
    left: unset;
    width: rem(460px);

    &:before {
        content: "";
        position: absolute;
        top: rem(-20);
        right: rem(12);
        border: rem(10) solid $gray-700;
        border-color: transparent transparent $gray-700 transparent;
    }

    .head {
        background-color: $gray-700 !important;
        padding: rem(5) rem(15);
        border-radius: rem(3) rem(3) 0 0;
    }

    .footer {
        background-color: $gray-700 !important;
        padding: rem(5) rem(15);
        border-radius: 0 0 rem(3) rem(3);
    }

    .notification-box {
        padding: rem(10) rem(15);

        .message {
            padding: 0 0 rem(5) 0;
            color: $white;

            p:last-child {
                margin: 0;
            }
        }

        &:nth-child(odd) {
            background-color: $gray-700;

            .message {
                color: $black;
            }
        }
    }
}

@media (max-width: 768px) {
    .dropdown-menu-custom {
        top: 0;
        left: 0;
        width: rem(276);

        &:before {
            border-color: transparent;
        }
    }
}

#alertGeb.hide {
    display: none;
}

@import "webkitScrollbar";

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
